@{
    ViewBag.Title = "EndorsmentApproval";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<form class="needs-validation" novalidate>

    @Html.Partial("~/Views/Partial/_policyFormView.cshtml")

    <br />

    @*Back, Approve, Reject and Home Button*@

    <div class="text-center">
        <button type="submit" class="btn">
            Back <span class="fas fa-undo"></span>
        </button>
        <button type="submit" class="btn">
            Approve <span class="fas fa-check-circle"></span>
        </button>
        <button type="submit" class="btn">
            Reject <span class="fas fa-times-circle"></span>
        </button>
        <button type="submit" class="btn">
            Home <span class="fas fa-home"></span>
        </button>
    </div>
</form>

<script>
    // Bootstrap Function
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>

