@model IEnumerable<PESMVC.Data.DTO.Endorsement.GetEndorsementsResponse>

@{
    ViewBag.Title = "EndorsementDetails";
}
<h2 class="text-center">Endorsement Details</h2>
<br />
@*Table to show details of Endorsement*@
<table class="table table-bordered" id="tblEndorsementStatus">
    <thead>
        <tr>
            <th>Endorsement ID</th>
            <th>Policy ID</th>
            <th>Field Changes</th>
            <th>Endorsement Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.endorsementId)</td>
                <td>@Html.DisplayFor(modelItem => item.policyNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.FieldChanges)</td>
                <td>@Html.DisplayFor(modelItem => item.endorsementStatus)</td>
            </tr>
         }
    </tbody>
</table>
<div class="container d-flex justify-content-center mt-3">
    <div class="btn-group mr-4">
        <button type="submit" class="btn text-center" value="Back" />Back
        <span class="fas fa-undo"></span>
    </div>
</div>