
@{
    ViewBag.Title = "EndorsementDetails";
}

<h2 class="text-center">Endorsement Details</h2>
<br />
@*Table to show details of Endorsement*@
<table class="table table-bordered" id="tblEndorsementStatus">
    <thead>
        <tr>
            <th>Endorsement ID</th>
            <th>Policy ID</th>
            <th>Field Changes</th>
            <th>Endorsement Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Endorsement ID</td>
            <td>Policy ID</td>
            <td>Field Changes</td>
            <td>Endorsement Status</td>
        </tr>
        <tr>
            <td>Endorsement ID</td>
            <td>Policy ID</td>
            <td>Field Changes</td>
            <td>Endorsement Status</td>
        <tr>
            <td>Endorsement ID</td>
            <td>Policy ID</td>
            <td>Field Changes</td>
            <td>Endorsement Status</td>
        </tr>
        <tr>
            <td>Endorsement ID</td>
            <td>Policy ID</td>
            <td>Field Changes</td>
            <td>Endorsement Status</td>
        </tr>
        <tr>
            <td>Endorsement ID</td>
            <td>Policy ID</td>
            <td>Field Changes</td>
            <td>Endorsement Status</td>
    </tbody>
</table>
<div class="container d-flex justify-content-center mt-3">
    <div class="btn-group mr-4">
        <button type="submit" class="btn text-center" value="Back" />Back
        <span class="fas fa-undo"></span>
    </div>
</div>